<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="A simple webpage that shows if it is currently raining in Oslo, or not."/>
    <meta name="creator" content="https://github.com/larskristianhaga/regnerdetioslo.no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="data-from-time" content="{{.dataFromTime}}"/>
    <title>Regnerdetioslo?</title>
</head>
<body>
<h1 style="display: flex;
justify-content: center;
align-items: center;
height: 80vh;
font-size: 10vh;">
{{.isRaining}}
</h1>
</body>
</html>
