<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="UTF-8"/>
    <meta content="En enkel nettside som forteller deg om det regner i Oslo eller ikke" name="description"/>
    <meta content="https://github.com/larskristianhaga/regnerdetioslo.no" name="creator"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="notranslate" name="googlebot"/>
    <meta content="nopagereadaloud" name="google"/>
    <meta name="data-from-time" content="{{.dataFromTime}}"/>
    <title>Regnerdetioslo?</title>
    <style>
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75vh;
            font-size: 20vh;
            font-family: 'Comic Sans MS', cursive, sans-serif;
        }
    </style>
</head>

<body>
<h1>{{.isRaining}}</h1>
</body>

</html>
