<!DOCTYPE html>
<html lang="nb">
<head>
    <meta charset="UTF-8"/>
    <meta content="regnerdetioslo.no" name="description"/>
    <meta content="https://github.com/larskristianhaga/regnerdetioslo.no" name="creator"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="all" name="robots"/>
    <title>links | regnerdetioslo.no</title>
</head>

<body>

<a href="https://monsterindeks.no">
    <p>
        monsterindeks.no
    </p>
</a>

<a href="https://larskristianhaga.no">
    <p>
        larskristianhaga.no
    </p>
</a>

<a href="https://haga.dev">
    <p>
        haga.dev
    </p>
</a>

<a href="https://laline.no">
    <p>
        laline.no
    </p>
</a>

<a href="https://3fs.no">
    <p>
        3fs.no
    </p>
</a>
</body>

</html>
